
.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    width: 500px;
    border: 2px solid #add8e6;
    padding: 25px;
    border-radius: 25px
}

.LoginImageContainer {
    margin-bottom: 0px;
}

.shadow-interpolacao{
    box-shadow: 15px 15px 20px red; 
}
Form:hover{
    box-shadow: 15px 15px 0 #bfafb2, -15px -15px #bfafb2        ;
    -webkit-transition : box-shadow ease-out 0.6s;
    transition : box-shadow ease-out 0.6s;        
}
